:root {
    --primary-color: black;
    --secondary-color: gray;
    --bg-color: #fff;
    --layout-setting: repeat(5, 1fr);
  }
  [data-theme="dark"] {
    --primary-color: white;
    --secondary-color: gray;
    --bg-color: black;
  }
  [layout="list"] {
    --layout-setting: 1fr;
  }

body {
    height: 125vh;
    font-family: sans-serif;
    margin-top: 100px;
    padding: 20px;
}

#nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 25px 0 var(--primary-color);
}

.header-nav {
    display: inline;
    margin: 25px;
}

header li a {
    color: var(--primary-color);
    text-decoration: none;
}

h1 a {
    color: var(--primary-color);
    text-decoration: none;
}

#title-div {
    margin-left: 20px;
}

input {
    height: 20px;
    width: 200px;
    overflow: hidden;
    resize: none;
    color: var(--primary-color);
    background-color : var(--bg-color);
}

.main-nav {
    display: inline;
    margin: 5px;
}

#font-cards {
    margin: 20px;
    display: grid;
    grid-template-columns: var(--layout-setting);
    gap: 20px 20px;
    justify-content: space-between;
}

.font-box {
    font-size: small;
    padding: 10px;
    border: solid var(--secondary-color) 1px;
    border-radius: 3%;
}

.dynamic-text {
    font-size: 20px;
    padding: 40px;
    text-align: center;
}

#font-box1 {
    font-family: "Roboto";
}

#font-box2 {
    font-family: "Palatino";
}

#font-box3 {
    font-family: "Helvetica";
}

#font-box4 {
    font-family: "Open Sans";
}

#font-box5 {
    font-family: "Sans Serif";
}

#font-box6 {
    font-family: "Arial";
}

#font-box7 {
    font-family: "Times New Roman";
}

#font-box8 {
    font-family: "Raleway";
}

#font-box9 {
    font-family: "Cursive";
}

#font-box10 {
    font-family: "Monospace";
}

button {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content a {
    background-color: var(--bg-color);
    border: solid var(--secondary-color) 1px;
    color: var(--primary-color);
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dark-mode {
    background-color: var(--bg-color);
    color: var(--primary-color);
}